/**
 * @file
 * Thumbnails displayed as a static grid instead of dots.
 */

.splide.is-paginated--fx-grid {
  position: relative;
  bottom: 0;
  padding: 15px 0;
}

.splide.is-paginated--fx-grid .splide__slider {
  margin-bottom: 15px;
}

.splide.is-paginated--fx-grid .splide__pagination {
  position: relative;
}

.splide.is-paginated--fx-grid .splide__pagination li {
  position: relative;
  display: inline-block;
  width: 120px;
  height: auto;
  vertical-align: top;
}

.splide.is-paginated--fx-grid .splide__pagination button {
  position: absolute;
  z-index: 8;
  display: block;
  visibility: visible;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  background: none;
}

.splide.is-paginated--fx-grid .splide__pagination img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid transparent;
}

.splide.is-paginated--fx-grid .splide__pagination__tn {
  pointer-events: none;
}

.splide.is-paginated--fx-grid .splide__pagination li:hover img,
.splide.is-paginated--fx-grid .splide__pagination .is-active ~ .splide__pagination__tn img {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  border-color: #ff6d2c;
}

.splide.is-arrowed--down.is-paginated--fx-grid > .splide__arrows {
  bottom: 160px;
}

/**
 * Enable if the grid is displayed side by side to the Main image.

.splide.is-paginated--fx-grid::after,
.splide.is-paginated--fx-grid .splide__pagination__tn::after {
  clear: none;
  display: none;
}
 */
