/**
 * @file.
 * Adds 3d view with focal point at back, best with centerMode + 3 perPage.
 * Detailed stylings are all yours, get yourself dirty.
 */

.splide--skin--d3-back.is-mounted {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}

.splide--skin--d3-back.is-mounted .splide__list {
  margin: 0 -120px;
}

@media (min-width: 65em) {
  .splide--skin--d3-back.is-mounted .splide__list {
    margin: 0 -210px;
  }
}

.splide--skin--d3-back.is-mounted .slide {
  overflow: hidden;
}

.splide--skin--d3-back.is-mounted .slide .slide__content {
  -webkit-perspective: 1500px;
  -ms-perspective: 1500px;
  perspective: 1500px;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.splide--skin--d3-back.is-mounted .slide .slide__media {
  margin: 30px 0;
  -webkit-transition: opacity 1s ease 0s, -webkit-transform 1s;
  transition: opacity 1s ease 0s, transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transform: rotateY(25deg);
  -webkit-transform: rotateY(25deg);
  transform: rotateY(25deg);
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.splide--skin--d3-back.is-mounted .slide .slide__caption {
  position: relative;
  bottom: 0;
  visibility: hidden;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

.splide--skin--d3-back.is-mounted .is-active ~ .slide .slide__media {
  -ms-transform: rotateY(-25deg);
  -webkit-transform: rotateY(-25deg);
  transform: rotateY(-25deg);
}

.splide--skin--d3-back.is-mounted .slide.is-active .slide__media {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.splide--skin--d3-back.is-mounted .slide.is-active .slide__caption {
  position: relative;
  bottom: auto;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.splide--skin--d3-back.is-mounted .splide__arrow {
  left: 50%;
  width: 50%;
  margin-left: -25%;
}

.splide--skin--d3-back.is-mounted .splide__pagination {
  bottom: 0;
}
